img {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
    }

    body {
        background-color: rgb(182, 229, 221);
    }

    h1 {
        text-align: center;
        font-size: 26pt;
        font-style: italic;
    }